<!--
  Generated template for the MovieDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Detalhe do Filme</ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
  <ion-card *ngIf="movie">
    <ion-item>
      <h1>{{ movie.original_title }}</h1>
      <p>{{ movie.release_date }}</p>
    </ion-item>
    
    <img [src]="'https://image.tmdb.org/t/p/w300/' + movie.backdrop_path">

    <ion-card-content>
      <p>{{ movie.overview }}</p>
      <ion-list no-lines>
        <ion-list-header text-left>
          Gêneros
        </ion-list-header>
        <ion-item *ngFor = "let genre of movie.genres" text-justify>{{ genre.name }}</ion-item>
      </ion-list>

      <ion-list no-lines padding-top>
        <ion-list-header text-left>
          Produtoras
        </ion-list-header>
        <ion-item *ngFor="let companies of movie.production_companies" text-justify>
            <img *ngIf="companies.logo_path != null"[src]="'https://image.tmdb.org/t/p/w300/' + companies.logo_path" style="max-height: 40px; height:100%; width: auto;">
            <p *ngIf="companies.logo_path == null">{{ companies.name }}</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
 
 
  </ion-card>
</ion-content>
